<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'form')}">
<head>
    <meta charset="UTF-8">
    <title>Конвертер</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${history}" th:action="@{/converter/form}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title" th:align="center">Конвертер валют</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9 form-group" th:align="center">
                                        <label for="source_currency">Исходная валюта:</label>
                                        <select id="source_currency" class="form-control" name="source"
                                                th:field="*{sourceCharCode}">
                                            <option th:each="rate : ${list}"
                                                    th:value="${rate.getCurrency().getCharCode()}"
                                                    th:selected="${rate.getCurrency().getCharCode()}"
                                                    th:text="${'(' + rate.getCurrency().getCharCode() + ') ' + rate.getCurrency().getName()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9 form-group" th:align="center">
                                        <label for="target_currency">Целевая валюта:</label>
                                        <select id="target_currency" class="form-control" name="target"
                                                th:field="*{targetCharCode}">
                                            <option th:each="rate : ${list}"
                                                    th:value="${rate.getCurrency().getCharCode()}"
                                                    th:selected="${rate.getCurrency().getCharCode()}"
                                                    th:text="${'(' + rate.getCurrency().getCharCode() + ') ' + rate.getCurrency().getName()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9 form-group" th:align="center">
                                        <label for="source_sum">Начальная сумма:</label>
                                        <input id="source_sum" type="text" class="form-control" name="source_sum"
                                               placeholder="Введите сумму" autofocus="autofocus"
                                               pattern="^[0-9.]*$" title="Допустимые символы: '.' и 0-9"
                                               th:field="*{sourceSum}" required >
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9 form-group" th:align="center">
                                        <label for="target_sum">Полученная сумма</label>
                                        <input id="target_sum" type="text" class="form-control" disabled="disabled" th:value="${targetSum}"/>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Конвертировать</button>
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <tbody>
                            <tr>
                                <th>Исходная валюта</th>
                                <th>Целевая валюта</th>
                                <th>Исходная сумма</th>
                                <th>Получаемая сумма</th>
                                <th>Дата</th>
                            </tr>
                            <tr th:each="last : ${lastHistories}">
                                <td th:text="${last.getSourceCurrency().getCharCode()}">USR</td>
                                <td th:text="${last.getTargetCurrency().getCharCode()}">RUB</td>
                                <td th:text="${last.getSourceSum()}">100</td>
                                <td th:text="${last.getTargetSum()}">150</td>
                                <td th:text="${#dates.format(last.getDate(), 'dd.MM.yyyy HH:mm')}">2020-05-08</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
