<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'currency')}">
<head>
    <meta charset="UTF-8">
    <title>Список валют</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9 ">
                            <h1 class="panel-title">Список валют</h1>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <tbody>
                            <tr>
                                <th>Идентификатор</th>
                                <th>Номер</th>
                                <th>Аббревиатура</th>
                                <th>Номинал</th>
                                <th>Наименование</th>
                                <th>Значение</th>
                                <th>Дата</th>
                            </tr>
                            <tr th:each="rate : ${rates}">
                                <td th:text="${rate.getCurrency().getId()}">1</td>
                                <td th:text="${rate.getCurrency().getNumCode()}">IU</td>
                                <td th:text="${rate.getCurrency().getCharCode()}">323</td>
                                <td th:text="${rate.getCurrency().getNominal()}">10</td>
                                <td th:text="${rate.getCurrency().getName()}">Name</td>
                                <td th:text="${rate.getValue()}">123</td>
                                <td th:text="${#dates.format(rate.getDate(), 'dd.MM.yyyy')}">123</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
