<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'form')}">
<head>
    <meta charset="UTF-8">
    <title>История конвертаций</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9 ">
                            <h1 class="panel-title">История конвертаций</h1>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-default" href="#" th:href="@{'/converter/form'}" role="button">Новый
                                расчет</a>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <form th:action="@{/history}">
                        <div class="col-md-3">
                            <div class="col-md-12 form-group" th:align="center">
                                <label for="date">Дата: </label>
                                <input id="date" value="" name="date" type="date" class="form-control" placeholder="Дата"/>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-12 form-group" th:align="center">
                                <label for="sourceCharCode">Исходная валюта:</label>
                                <select id="sourceCharCode" class="form-control" name="source">
                                    <option value="" th:text="Все" selected></option>
                                    <option th:each="rate : ${currencies}"
                                            th:value="${rate.getCurrency().getCharCode()}"
                                            th:text="${rate.getCurrency().getCharCode()}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-12 form-group" th:align="center">
                                <label for="source_currency">Целевая валюта:</label>
                                <select id="source_currency" class="form-control" name="target">
                                    <option value="" th:text="Все" selected></option>
                                    <option th:each="rate : ${currencies}"
                                            th:value="${rate.getCurrency().getCharCode()}"
                                            th:text="${rate.getCurrency().getCharCode()}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-10 form-group" th:align="center">
                                <label for="search"></label>
                                <br>
                                <input type="submit" id="search" class="btn btn-success" value="Поиск">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <tbody>
                            <tr>
                                <th>Дата</th>
                                <th>Исходная валюта</th>
                                <th>Целевая валюта</th>
                                <th>Исходная сумма</th>
                                <th>Получаемая сумма</th>
                            </tr>
                            <tr th:each="history : ${histories}">
                                <td th:text="${#dates.format(history.getDate(), 'dd.MM.yyyy HH:mm')}">2020-05-08</td>
                                <td th:text="${history.getSourceCurrency().getCharCode()}">USR</td>
                                <td th:text="${history.getTargetCurrency().getCharCode()}">RUB</td>
                                <td th:text="${history.getSourceSum()}">100</td>
                                <td th:text="${history.getTargetSum()}">150</td>
                            </tr>
                            </tbody>
                        </table>

                        <!--                        <nav aria-label="Pagination" th:if="${histories.totalPages gt 0}">-->
                        <!--                            <ul class="pagination justify-content-center font-weight-bold">-->
                        <!--                                <li class="page-item" th:classappend="${histories.number eq 0} ? 'disabled'">-->
                        <!--                                    <a class="page-link"-->
                        <!--                                       th:href="@{/history?page={id}(id=${histories.number lt 2 ? 1 : histories.number})}"-->
                        <!--                                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
                        <!--                                        <span aria-hidden="true">&laquo;</span>-->
                        <!--                                    </a>-->
                        <!--                                </li>-->
                        <!--                                <li class="page-item" th:classappend="${i eq histories.number + 1} ? 'active'"-->
                        <!--                                    th:each="i : ${#numbers.sequence( 1, histories.totalPages, 1)}">-->
                        <!--                                    <a class="page-link" th:href="@{/history?page={id}(id=${i})}" th:text="${i}"-->
                        <!--                                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
                        <!--                                </li>-->
                        <!--                                <li class="page-item"-->
                        <!--                                    th:classappend="${histories.number + 1 eq histories.totalPages} ? 'disabled'">-->
                        <!--                                    <a class="page-link"-->
                        <!--                                       th:href="@{/history?page={id}(id=${histories.number + 2})}"-->
                        <!--                                       aria-label="Next" title="Next Page" data-toggle="tooltip">-->
                        <!--                                        <span aria-hidden="true">&raquo;</span>-->
                        <!--                                    </a>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                        </nav>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>
